
<div class="container">

<div class="row">

  <div class="nine columns">
    <table class="u-full-width">
  <thead>
    <tr>
      <th>Pet ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="pet in favorites" ng-click="getPet(pet.petId)">
      <td>{{pet.petId}}</td>
      <td>{{pet.name}}</td>
      <td ng-if="fullDescription && pet.petId==thisPet">{{fullDescription}}</td>
      <td ng-if="!fullDescription">{{pet.description}}...</td>
      <td>{{pet.animalType}}</td>
      <td><img ng-src="{{pet.imageUrl}}" description="{{pet.name}}"/></td>
    </tr>

  </tbody>
</table>
  </div>

  <div class="three columns">

  </div>


</div>
</div>
