<div class="row">

    <div class="seven columns home" ng-init="getRandomPet()">
      <h4>Choose an Animal Type:</h4>
<div>


      <button>get random</button>

      <select ng-options="type for type in types" ng-model="selectedType" ng-change="getRandomPet()">
    </select>
</div>
<h2>{{animal.name.$t}}</h2>
<p>{{animal.description.$t}}</p>

</div>


<div class="five columns">
    <img ng-src="{{animal.media.photos.photo[3].$t}}" alt="random_pet_pictures" />
    <button ng-click="addFavorite()">Add To Favorites</button>
    <span>	&hearts; {{numFavorites}} &hearts;</span>

</div>
</div>
